textarea {
  border: 1px solid $vivid-gerulean;
  background-color: transparent;
  font-size: 1rem;
  height: 100px;
  outline: none;
  padding: 10px;
}

.select-element {
  border: 1px solid rgba(100, 104, 130, 0.3);
  font-size: 0.8rem;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  background-color: transparent;
  outline: none;
}
