.nav-wrapper {
  background-color: ghostwhite;
  display: flex;
  justify-content: space-between;
  padding: 30px;

  .right-side {
    color: $paynes-gray;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: 900;
    border-bottom: 2px solid $vivid-gerulean;

    a {
      margin-left: 15px;
      cursor: pointer;
      color: $vivid-gerulean;
      transition: 0.2s ease-in-out;

      &:hover {
        color: $egyption-blue;
      }
    }
  }

  .left-side {
    display: flex;
  }

  .nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: 0.2s ease-in-out;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 900;
    letter-spacing: 1px;

    a {
      color: $paynes-gray;
      text-decoration: none;
      &:hover {
        color: $onyx;
      }
    }

    &:hover {
      border-bottom: 1px solid $onyx;
    }

    .nav-link-active {
      border-bottom: 1px solid black;
      color: black;
    }
  }
}
