$gun-metal: #272838;
$onyx: #34403a;
$paynes-gray: #646881;
$off-white: #ededf8;
$eerie-black: #0e1428;
$egyption-blue: #0e34a0;
$vivid-gerulean: #009ffd;
$lapis-lazuli: #145c9e;
$tufts-blue: #347fc4;
$ruby-red: #91171f;
$cardinal-red: #ba1f33;
$salmon: #cd5d67;
$india-green: #149911;
$lime: #00ff00;
